.div_employeeDetail{
	width:600px;
	height:auto;
	bottom-top:3px solid red;
	margin-top:10px;
}

#right .div_search{
	width:600px;
	height:45px;
	margin-top:10px;
	border-bottom:1px solid black;
}
#right .div_search button{
	width:80px;
	margin-left:6px;
	display:blcok-inline;
}