.div_addEmployeeInfo{
	width:501px;
	height:auto;
	bottom-top:3px solid red;
}
/* 娣诲姞鑱屼綅鎵�灞為儴闂ㄣ�佷笂绾ц亴浣嶄俊鎭笅鎷夐�夋嫨鍒楄〃妗嗕俊鎭牱寮� */
#center #right .div_addContract #select-deptId, #select-positionId{
	width:356px;
	height:auto;
	min-height:110px;
	max-height:200px;
	background-color:#fff;
	position:absolute;
	z-index:50;
	display:none;
}
#right .div_search{
	width:600px;
	height:45px;
	margin-top:10px;
	border-bottom:1px solid black;
}
#right .div_search button{
	width:80px;
	margin-left:6px;
	display:blcok-inline;
}