#right .div-content{
	width:100%;
	height:770px;
	height:auto;
}
#right .div-content .content-left .div1 .panel-primary .panel-heading, 
#right .div-content .content-left .div1 .panel-success .panel-heading, 
#right .div-content .content-center .div1 .panel-warning .panel-heading, 
#right .div-content .content-center .div1 .panel-danger .panel-heading{
	width:100%;
	height:40px;
}
#right .div-content .content-left .div1 .panel-primary .panel-body, 
#right .div-content .content-left .div1 .panel-success .panel-body, 
#right .div-content .content-center .div1 .panel-warning .panel-body, 
#right .div-content .content-center .div1 .panel-danger .panel-body{
	width:100%;
	height:70px;
	padding:0px;
}
#right .div-content .content-left .div1 .panel-primary, 
#right .div-content .content-left .div1 .panel-success, 
#right .div-content .content-center .div1 .panel-warning, 
#right .div-content .content-center .div1 .panel-danger{
	cursor: pointer;
}
#right .div-content .panel-body .div-personNum{
	width:60%;
	height:100%;
	text-align:center;
	float:left;
}
#right .div-content .content-left .div1 .panel-primary  .div-img, 
#right .div-content .content-left .div1 .panel-success  .div-img, 
#right .div-content .content-center .div1 .panel-warning  .div-img, 
#right .div-content .content-center .div1 .panel-danger  .div-img{
	width:40%;
	height:70px;
	float:right;
	text-align:center;
	vertical-align: middle;
}
#right .div-content .content-left .div1 .panel-primary  .div-img img, 
#right .div-content .content-left .div1 .panel-success  .div-img img, 
#right .div-content .content-center .div1 .panel-warning  .div-img img, 
#right .div-content .content-center .div1 .panel-danger  .div-img img{
	width:50px;
	height:50px;
	margin-top:10px;
}
#right .div-content .content-left{
	width:37.5%;
	height:770px;
	float:left;
}
#right .div-content .content-left .div1{
	width:100%;
	height:110px;
}
#right .div-content .content-left .div1 .panel-primary{
	width:48.5%;
	height:100%;
	float:left;
}
#right .div-content .content-left .div1 .panel-success{
	width:48.5%;
	height:100%;
	float:right;
}

#right .div-content .content-left .div2{
	with:100%;
	height:180px;
	margin-top:20px;
}
#right .div-content .content-left .div2 .panel{
	with:100%;
	height:180px;
}
#right .div-content .content-left .div2 .panel .panel-heading{
	with:100%;
	height:50px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
}
#right .div-content .content-left .div2 .panel .panel-heading span{
	line-height:50px;
}
#right .div-content .content-left .div2 .panel .panel-body{
	with:100%;
	height:120px;
	padding:0px;
	margin-top:6px;
}
#right .div-content .content-center{
	width:37.5%;
	background:yellow;
	height:770px;
	float:left;
	margin-left:10px;
}
#right .div-content .content-center .div1{
	width:100%;
	height:110px;
	background-color:black;
}
#right .div-content .content-center .div1 .panel-warning{
	width:48.5%;
	height:100%;
	float:left;
}
#right .div-content .content-center .div1 .panel-danger{
	width:48.5%;
	height:100%;
	float:right;
}

#right .div-content .content-right{
	width:23.3%;
	background:blue;
	height:7700px;
	float:right;
}



.calendar{
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 15px solid #fff; /*边框*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    font-family: sans-serif; /*字体*/
}
.calendar .date{
    width: 400px;
    padding: 30px;
    box-sizing: border-box; /*盒子大小规则*/
}
.calendar .date h3{
    margin: 0 0 20px; 
    padding: 0;
    font-size: 20px; /*字体大小*/
    font-weight: 500; /*字体维度*/
    text-align: center; /*字体居中*/
    user-select: none; /*不可选中*/
    text-transform: capitalize; /*首字母大写*/
}
.calendar .date .days{
    display: flex;
    flex-wrap: wrap; /*可换行*/
}
.calendar .date .days .number.active{
    background-color: #22A7FF;
    color: #fff;
    cursor: pointer; /*鼠标样式*/
    border-radius: 50%; /*边框圆角*/
}
.calendar .date .days .day,
.calendar .date .days .number{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.calendar .date .days .day:first-child,
.calendar .date .days .number:nth-child(7n+1){ /*7个为一组，每组第一个*/
    color: #f44336;
    font-weight: 600;
}

