#right .div-content{
	width:100%;
	height:770px;
	height:auto;
}
#right .div-content .content-left .div1 .panel-primary .panel-heading, 
#right .div-content .content-left .div1 .panel-success .panel-heading, 
#right .div-content .content-center .div1 .panel-warning .panel-heading, 
#right .div-content .content-center .div1 .panel-danger .panel-heading{
	width:100%;
	height:40px;
}
#right .div-content .content-left .div1 .panel-primary .panel-body, 
#right .div-content .content-left .div1 .panel-success .panel-body, 
#right .div-content .content-center .div1 .panel-warning .panel-body, 
#right .div-content .content-center .div1 .panel-danger .panel-body{
	width:100%;
	height:70px;
	padding:0px;
}
#right .div-content .content-left .div1 .panel-primary, 
#right .div-content .content-left .div1 .panel-success, 
#right .div-content .content-center .div1 .panel-warning, 
#right .div-content .content-center .div1 .panel-danger{
	cursor: pointer;
}
#right .div-content .panel-body .div-personNum{
	width:60%;
	height:100%;
	text-align:center;
	float:left;
}
#right .div-content .content-left .div1 .panel-primary  .div-img, 
#right .div-content .content-left .div1 .panel-success  .div-img, 
#right .div-content .content-center .div1 .panel-warning  .div-img, 
#right .div-content .content-center .div1 .panel-danger  .div-img{
	width:40%;
	height:70px;
	float:right;
	text-align:center;
	vertical-align: middle;
}
#right .div-content .content-left .div1 .panel-primary  .div-img img, 
#right .div-content .content-left .div1 .panel-success  .div-img img, 
#right .div-content .content-center .div1 .panel-warning  .div-img img, 
#right .div-content .content-center .div1 .panel-danger  .div-img img{
	width:50px;
	height:50px;
	margin-top:10px;
}
#right .div-content .content-left{
	width:37.5%;
	height:770px;
	float:left;
}
#right .div-content .content-left .div1{
	width:100%;
	height:110px;
}
#right .div-content .content-left .div1 .panel-primary{
	width:48.5%;
	height:100%;
	float:left;
}
#right .div-content .content-left .div1 .panel-success{
	width:48.5%;
	height:100%;
	float:right;
}

#right .div-content .content-left .div2{
	with:100%;
	height:180px;
	margin-top:20px;
}
#right .div-content .content-left .div2 .panel{
	with:100%;
	height:180px;
}
#right .div-content .content-left .div2 .panel .panel-heading{
	with:100%;
	height:50px;
	padding-top:0px;
	padding-bottom:0px;
}
#right .div-content .content-left .div2 .panel .panel-heading span{
	line-height:50px;
}
#right .div-content .content-left .div2 .panel .panel-body{
	with:100%;
	height:120px;
	padding:0px;
	margin-top:10px;
}
#right .div-content .content-left .div2 .panel .panel-body .div-thing1, .div-thing2, .div-thing3, .div-thing4{
	width:25%;
	height:150px;
	float:left;
	text-align:center;
	cursor:pointer;
}
#right .div-content .content-left .div2 .panel .panel-body .div-thing1 .div-img,
#right .div-content .content-left .div2 .panel .panel-body .div-thing2 .div-img,
#right .div-content .content-left .div2 .panel .panel-body .div-thing3 .div-img,
#right .div-content .content-left .div2 .panel .panel-body .div-thing4 .div-img,{
	width:100%;
	height:40px;
}
#right .div-content .content-left .div2 .panel .panel-body .div-thing1 .div-img img,
#right .div-content .content-left .div2 .panel .panel-body .div-thing2 .div-img img,
#right .div-content .content-left .div2 .panel .panel-body .div-thing3 .div-img img,
#right .div-content .content-left .div2 .panel .panel-body .div-thing4 .div-img img{
	width:40px;
	height:40px;
}
#right .div-content .content-left .div2 .panel .panel-body .div-thing1 .div-num,
#right .div-content .content-left .div2 .panel .panel-body .div-thing2 .div-num,
#right .div-content .content-left .div2 .panel .panel-body .div-thing3 .div-num,
#right .div-content .content-left .div2 .panel .panel-body .div-thing4 .div-num{
	width:100%;
	height:40px;
}
#right .div-content .content-left .div2 .panel .panel-body .div-thing1 .div-num span,
#right .div-content .content-left .div2 .panel .panel-body .div-thing2 .div-num span,
#right .div-content .content-left .div2 .panel .panel-body .div-thing3 .div-num span,
#right .div-content .content-left .div2 .panel .panel-body .div-thing4 .div-num span{
	line-height:40px;
	font-size:19px;
}
#right .div-content .content-left .div2 .panel .panel-body .div-thing1 .div-desc,
#right .div-content .content-left .div2 .panel .panel-body .div-thing2 .div-desc,
#right .div-content .content-left .div2 .panel .panel-body .div-thing3 .div-desc,
#right .div-content .content-left .div2 .panel .panel-body .div-thing4 .div-desc{
	width:100%;
	height:40px;
}
#right .div-content .content-left .div2 .panel .panel-body .div-thing1 .div-desc p,
#right .div-content .content-left .div2 .panel .panel-body .div-thing2 .div-desc p,
#right .div-content .content-left .div2 .panel .panel-body .div-thing3 .div-desc p,
#right .div-content .content-left .div2 .panel .panel-body .div-thing4 .div-desc p{
	line-height:40px;
	font-size:15px;
	color:#555;
	margin-top:-8px;
}
#right .div-content .content-center{
	width:37.5%;
	/* background:yellow; */
	height:770px;
	float:left;
	margin-left:10px;
}
#right .div-content .content-center .div1{
	width:100%;
	height:110px;
	background-color:black;
}
#right .div-content .content-center .div1 .panel-warning{
	width:48.5%;
	height:100%;
	float:left;
}
#right .div-content .content-center .div1 .panel-danger{
	width:48.5%;
	height:100%;
	float:right;
}

#right .div-content .content-right{
	width:23.3%;
	/* background:blue; */
	height:770px;
	float:right;
}

