.div_addContract{
	width:600px;
	height:auto;
	bottom-top:3px solid red;
}
/* 添加职位所属部门、上级职位信息下拉选择列表框信息样式 */
#center #right .div_addContract #select-deptId, #select-positionId{
	width:356px;
	height:auto;
	min-height:110px;
	max-height:200px;
	background-color:#fff;
	position:absolute;
	z-index:50;
	display:none;
}

