@charset "UTF-8";
#userAccount,#userPwd{
	font-size:13px;
}
.span_fogetPwd{
	font-size:14px;
}
.span_fogetPwd:hover{
	cursor: pointer;
	color: red;
}
/* 遮罩层样式  */
.shadeDiv{
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.4);
	line-height:100%;
	z-index:2;
}
.panel_resetPwd{
	width: 520px;
	height: 450px;
	overflow: hide;
	margin:auto;
	margin-top:200px;
	background-color:#fff;
	z-index:6;
}
.panel_resetPwd .panel{
	width:100%;
	height:100%;
	border:0px;
	border-radius:0px;
}
.panel_resetPwd .panel .panel-heading{
	background-color:#0085DD;
	height:46px;
	padding:0px;
	border-radius:0px;
}
.panel_resetPwd .panel .panel-heading label{
	font-size:18px;
	line-height:46px;
	color:#FFF;
	font-weight:500;
	margin-left:5px;
}
.panel_resetPwd .panel .panel_body #form_retrievePwd .form-group{
	margin-left:0px;
	margin-right:0px;
}
.panel_resetPwd .panel .panel-heading #btn_hideShadeDiv{
	float:right;
	height:38px;
	margin-top:4px;
	margin-right:3px;
	font-size:16px;
	text-align:center;
	line-height:15px;
}
.panel_resetPwd .panel .panel_body{
	width:100%;
	height:234px;
}
.panel_resetPwd .panel .panel_body form{
	width:100%;
	height:100%;
	padding-top:12px;
	text-align:center;
}
.panel_resetPwd .panel .panel_body form div{
	width:100%;
}
.panel_resetPwd .panel .panel_body #btn_submitRetrievePwd{
	margin-left:225px;
	font-size:16px;
}
.panel_resetPwd .panel .panel_body form input{
	width:400px;
	height:50px;
	padding-left:6px;
}

.panel_resetPwd .panel .panel_body form #btn_sendEmailVerificationCode{
	display:inline-block;
	width:180px;
	height:50px;
	margin-left:34px;
	line-height:30px;
	font-size:15px;
}






