#right table{
	width:100%;
	border-top:1px solid black;
}
#right .nav li a{
	font-size:18px;
	font-weight:800;
}
#right .div_search{
	min-width:1220px;
	width:100%;
	height:45px;
	margin-top:18px;
}
#right .div_search form{
	width:100%;
	margin-left:10px;
	display:inline-block;
}
#right .div_search .div-addDept{
	width:410px;
	float:right;
}
#right .div_search form .form-group{
	display:blcok-inline;
}
#right .div_search form .form-group input{
	width:120px;
}


/* 添加部门信息弹出层面板样式 */
.panel_addDepartment{
	width:600px;
	height:480px;
	position:absolute;
	display:none;
	z-index:7;
	left:0px; 
	top:0px; 
	right:0px; 
	bottom:0px;
    margin:auto;    /* 閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷疯繙閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓锟� */
    border:0px;
    background-color:#fff;
}
/* 修改部门信息弹出层面板样式 */
.panel_updateDepartment{
	width:600px;
	height:480px;
	position:absolute;
	display:none;
	z-index:7;
	left:0px; 
	top:0px; 
	right:0px; 
	bottom:0px;
    margin:auto;    /* 锟斤拷锟斤拷锟斤拷锟斤拷锟斤拷远锟斤拷锟斤拷锟斤拷锟� */
    border:0px;
    background-color:#fff;
}
/* 显示职工详细信息弹出层面板样式 */
.panel_employeeDetail{
	width:500px;
	height:376px;
	position:absolute;
	display:none;
	z-index:7;
	left:0px; 
	top:0px; 
	right:0px; 
	bottom:0px;
    margin:auto;    /* 閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷疯繙閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓锟� */
    border:0px;
    background-color:#fff;
}

/* 显示部门详细信息弹出层面板样式 */
.panel_departmentDetail{
	width:700px;
	height:376px;
	position:absolute;
	display:none;
	z-index:7;
	left:0px; 
	top:0px; 
	right:0px; 
	bottom:0px;
    margin:auto;    /* 閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷疯繙閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓锟� */
    border:0px;
    background-color:#fff;
}

.div-panel{
	width:100%;
	height:100%;
	border:0px;
}
.div-panel .panel-heading{
	background-color:#0085DD;
	height:46px;
	padding:0px;
	border-radius:0px;
}
.div-panel .panel-heading label{
	font-size:18px;
	line-height:46px;
	color:#FFF;
	font-weight:500;
	margin-left:5px;
}
/* 关闭添加部门信息弹出层面板按钮样式 */
.div-panel .panel-heading #btn-hidePanelAddDepartment{
	width:80px;
	float:right;
	height:38px;
	margin-top:4px;
	margin-right:3px;
	font-size:16px;
	text-align:center;
	line-height:15px;
}
/* 关闭修改部门信息弹出层面板按钮样式 */
.panel_updateDepartment .div-panel .panel-heading #btn-hidePanelUpdateDepartment{
	width:80px;
	float:right;
	height:38px;
	margin-top:4px;
	margin-right:3px;
	font-size:16px;
	text-align:center;
	line-height:15px;
}
/* 关闭职工详细信息弹出层面板按钮样式 */
.div-panel .panel-heading #btn-hidePanelEmployeeDetail{
	width:80px;
	float:right;
	height:38px;
	margin-top:4px;
	margin-right:3px;
	font-size:16px;
	text-align:center;
	line-height:15px;
}
/* 关闭部门详细信息弹出层面板按钮样式 */
.div-panel .panel-heading #btn-hidePanelDepartmentDetail{
	width:80px;
	float:right;
	height:38px;
	margin-top:4px;
	margin-right:3px;
	font-size:16px;
	text-align:center;
	line-height:15px;
}
/* 修改职位所属部门、上级职位信息下拉选择列表框信息样式 */
#select-updateDeptId, #select-updatePositionId{
	width:356px;
	height:auto;
	min-height:110px;
	max-height:200px;
	background-color:#fff;
	position:absolute;
	z-index:52;
	display:none;
}


