#right table{
	width:100%;
	border-top:1px solid black;
}
#right .div_search{
	min-width:1220px;
	width:100%;
	height:45px;
	margin-top:10px;
}
#right .div_search form{
	width:100%;
	margin-left:10px;
	display:inline-block;
}
#right .div_search .div-addDept{
	width:410px;
	float:right;
}
#right .div_search form .form-group{
	display:blcok-inline;
}
#right .div_search form .form-group input{
	width:120px;
}
#right .div_search form button{
	width:80px;
	margin-left:6px;
	display:blcok-inline;
}


.div-panel{
	width:100%;
	height:100%;
	border:0px;
}
.div-panel .panel-heading{
	background-color:#0085DD;
	height:46px;
	padding:0px;
	border-radius:0px;
}
.div-panel .panel-heading label{
	font-size:18px;
	line-height:46px;
	color:#FFF;
	font-weight:500;
	margin-left:5px;
}

a{
	text-decoration:none;
}
